* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #fafafa;
}

/* --------------------------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* --------TECH------------------------------------------------------- */

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---------HEADER------------------------------------------------------ */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: calc((24 / 14) * 100%);
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #ff7b47;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px;
}
@media (max-width: 479px) {
  .menu__link {
    color: #535353;
    font-size: 18px;
  }
}

/* -----------PAGE---------------------------------------------------- */

.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  margin-top: -111px;
  position: relative;
  z-index: 2;
}

.page__statistics {
}

.page__practice {
}

.page__whoweare {
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

.page__subscribe {
}

.page__getintoch {
}

.page__contact {
}
/* -----------HEADER-BLOCK---------------------------------------------------- */

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc((57 / 40) * 100%);
}
.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__subtitle {
  color: #737373;
  line-height: calc((57 / 40) * 100%);
}

/* -----------FOOTER---------------------------------------------------- */

.footer {
}

/* -----------MAIN-BLOCK---------------------------------------------------- */

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: calc((80 / 58) * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: calc((30 / 20) * 100%);
}
@media (max-width: 479px) {
  .main-block__text {
    color: #535353;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border: 1px solid #0d5c63;
  border-radius: 37px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #0d5c63;
  font-weight: 700;
  line-height: calc((28 / 14) * 100%);
  padding: 5px 36px;
  transition: all 0.3s ease;
  margin: 10px 0;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button:hover {
  background: #ff7b47;
  color: #fff;
  border: 1px solid #ff7b47;
  box-shadow: 0 0 10px #ff7b47;
  transition: all 0.3s ease;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* -----------SERVICES---------------------------------------------------- */

.services {
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }
}

.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  height: 100%;
}
@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}
.services__item:hover {
  background-color: #0d5c63;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 10px #0d5c63;
}

.item-service {
}
.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__icon {
  color: #0d5c63;
  transition: all 0.5s ease;
}
.services__item:hover .item-service__icon {
  color: #fff;
  transition: all 0.5s ease;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc((32 / 24) * 100%);
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: calc((20 / 14) * 100%);
  transition: all 0.5s ease;
}
.services__item:hover .item-service__text {
  color: #fff;
  transition: all 0.5s ease;
}

/* -----------STATISTICS---------------------------------------------------- */

.statistics {
  padding: 80px 0;
  background: #fafafa;
}
@media (max-width: 992px) {
  .statistics {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .statistics {
    padding: 30px 0;
  }
}

.statistics__header {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .statistics__header {
    margin-bottom: 25px;
  }
}

.statistics__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.statistics__column {
  margin-bottom: 30px;
  padding: 0 15px;
  flex: 0 1 25%;
}
@media (max-width: 1034px) {
  .statistics__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .statistics__column {
    flex: 0 1 100%;
  }
}

.statistics__item {
  background: #fff;
  text-align: center;
  padding: 30px;
  font-weight: 700;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.statistics__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.statistics__icon {
  color: #0d5c63;
}

.statistics__value {
  font-size: 40px;
  line-height: calc((57 / 40) * 100%);
  letter-spacing: 0.2px;
}

.statistics__text {
  font-size: 16px;
  line-height: calc((24 / 16) * 100%);
  color: #737373;
  letter-spacing: 0.1px;
}

/* -----------PRACTICE---------------------------------------------------- */

.practice {
  padding: 125px 0 80px 0;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice__container {
}

.practice__header {
  margin-bottom: 45px;
}
@media (max-width: 377px) {
  .practice__header br {
    display: none;
  }
}

@media (max-width: 993px) {
  .practice__header {
    margin-bottom: 25px;
  }
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin: 0 0 30px 0;
}
@media (max-width: 1055px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {
}

.item-practice {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-practice__content {
  background-color: #fff;
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  display: inline-block;
  color: inherit;
}
.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}
.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: calc((24 / 16) * 100%);
  letter-spacing: 0.1px;
}

.item-practice__text {
  line-height: calc((20 / 14) * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__image {
  display: block;
  padding-bottom: 69%;
}

/* -----------WHOWEARE---------------------------------------------------- */

.whoweare {
  padding: 80px 0 130px 0;
  background-color: #fff;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.whoweare__items {
}

.whoweare__item {
}

.item-whoweare {
  display: flex;
}
.item-whoweare:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare__icon {
  flex: 0 0 35px;
}

.item-whoweare__content {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 222px;
}
@media (min-width: 951px) {
  .item-whoweare__text {
    white-space: nowrap;
  }
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
    text-align: center;
  }
  .whoweare__content {
    padding: 0 0 0 0;
  }
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
  .whoweare {
    padding: 50px 0 50px 0;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__header {
    margin: 0 0 30px 0;
  }
  .item-whoweare__text {
    width: 100%;
    /* white-space: wrap; */
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0 50px 0;
  }
  .whoweare__top:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }
}
@media (max-width: 510px) {
  .item-whoweare__text {
    /* width: 222px; */
  }
}
/* -----------CLIENTS---------------------------------------------------- */

.clients {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}

.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item {
  flex: 0 1 16.6667%;
  text-align: center;
  padding: 8px 15px;
  color: #737373;
}

/* -----------SUBSCRIBE---------------------------------------------------- */

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::before {
  position: absolute;
  background: #252b42;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
}

.subscribe__container {
}
.subscribe__body {
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__title {
  flex: 0 1 50%;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 15px;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  color: #737373;
  border-right: 0;
}
.subscribe__input:focus {
  color: black;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 22px;
  transition: all 0.3s ease;
}
.subscribe__button:hover {
  background: #aa5330;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #aa5330;
  border-color: #aa5330;
}
@media (max-width: 810px) {
  .subscribe__button {
    padding: 0 15px;
  }
  .subscribe__input {
    padding: 0 15px;
  }
}

/* -----------GETINTOUCH---------------------------------------------------- */

.getintouch {
  padding: 80px 0 135px 0;
}

.getintouch__header {
  margin: 0 0 80px 0;
}

@media (min-width: 830px) {
  .getintouch__items {
    display: flex;
    align-items: center;
  }
  .getintouch__items > *:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 830px) {
  .getintouch {
    padding: 50px 0;
  }
  .getintouch__header {
    margin: 0 0 50px 0;
  }
  .getintouch__items > *:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .item-getintouch:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 769px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}

.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.item-getintouch:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  background-color: #252b42;
  color: #fff;
  box-shadow: 0 0 10px #252b42;
}

.item-getintouch:hover .item-getintouch__email,
.item-getintouch:hover .item-getintouch__button,
.item-getintouch:hover .item-getintouch__icon,
.item-getintouch:hover .item-getintouch__label {
  color: #fff;
  border-color: white;
}

.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__icon {
  color: #0d5c63;
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-getintouch__email {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.item-getintouch__email a:hover {
  color: #ff7b47;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.item-getintouch__button {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ff7b47;
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  transition: 0.3s all ease;
}
.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
  transition: 0.3s all ease;
  box-shadow: 0 0 10px #ff7b47;
}
.item-getintouch:hover .item-getintouch__button:hover {
  border-color: #ff7b47;
}

/* -----------CONTACT---------------------------------------------------- */

.contact {
  background-color: #fff;
  padding: 30px 0;
}
.contact__container {
}

.contact__content {
  padding: 0 0 20px 0;
}
@media (min-width: 769px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
  }
  .contact__content {
    padding: 0 20px 0 0;
  }
  .contact {
    padding: 42px 0;
  }
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}
.contact__text {
  color: #737373;
  line-height: 142%;
}
.contact__button {
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.2px;
  display: flex;
  background-color: #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  transition: all 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact__button:hover {
  background-color: #aa5330;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 10px #aa5330;
}

/* -----------FOOTER---------------------------------------------------- */

.footer {
}
.footer__top {
  background-color: #17213c;
  padding: 35px 0;
}
.footer__main {
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.footer__column {
  padding: 15px 15px;
  flex: 0 1 16.667%;
}
.footer__column:last-child {
  flex: 0 1 33%;
}
@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }
  .footer__column:last-child {
    flex: 0 1 100%;
  }
}
@media (max-width: 700px) {
  .footer__column {
    flex: 0 1 50%;
  }
}
.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 0 0 20px 0;
}
.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.menu-footer__link {
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 171%;
  transition: all 0.3s ease;
}
.menu-footer__link:hover,
.contacts-footer__text:hover {
  color: #8ec2f2;
  transition: all 0.3s ease;
  text-shadow: 0 0 2px;
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__items {
  display: flex;
  text-align: left;
  align-items: center;
}
.contacts-footer__items:not(:last-child) {
  margin: 0 0 10px 0;
}
.contacts-footer__item_icon {
  color: #8ec2f2;
  flex: 0 0 24px;
  text-align: center;
  font-size: 24px;
}
.contacts-footer__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 0 0 0 10px;
  flex: 1 1 auto;
  transition: all 0.3s ease;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}

.footer__copy {
  color: #737373;
  line-height: 171%;
}

.social__item {
  color: #0d5c63;
  font-size: 24px;
  transition: all 0.3s ease;
}
.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}
.social__item-1:hover {
  color: #4267b2;
  transition: all 0.3s ease;
}
.social__item-2 {
  transition: all 1s ease;
}

.social__item-3:hover {
  color: #1da1f2;
  transition: all 0.3s ease;
}
.social__item-4:hover {
  color: red;
  transition: all 0.3s ease;
}

.awesome-gradient {
  background-size: 100%;
  background: #0d5c63;
  position: relative;
  z-index: 100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.awesome-gradient:after {
  background-image: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  content: "\f16d";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.3s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.awesome-gradient:hover:after {
  opacity: 1;
}

#truncateLongTexts {
  width: 222px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}
